body{
    background-color: aqua;
}
input{
    background-color: pink;
    padding:10px;
    font-size: larger;
    font-weight: bold;
    border:2px solid black;
}
input:hover{
    box-shadow: 5px 5px 5px 0px red;
    transition:0.5s;
}
.main{
    padding:5px;
    width:60%;
    text-align: center;
    margin:0 auto;
    margin-top:20px;
    border:2px solid black;
    border-radius:20px;
    background-color: khaki;
}
#box{
    border: 2px solid black;
    border-radius:20px;
    margin:5px;
    padding:5px;
    display:flex;
    justify-content: space-evenly;
}
#player1box, #player2box{
    border:2px solid black;
    padding:10px;
    background-color: chartreuse;
}
#player1name, #player2name{
    border:2px solid black;
    padding:3px;
    background-color:blanchedalmond;
}
#player1score, #player2score{
    border:2px solid black;
    font-size:larger;
    font-weight:bold;
    padding:5px;
    background-color: gold;
}
#player1, #player2{
    border:2px solid black;
    font-size:large;
    font-weight:bold;
    padding:3px;
    background-color: darksalmon;
}

@media screen and (max-width:600px){
    #box{
        flex-direction:column;
    }
    #box>div{
        margin-top:5px;
    }
}